:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --black: black;
  --dark-grey: #17181c;
  --medium-grey: #222433;

  --darkest-blue: #1a1c2b;
  --dark-blue: #222433;
  --light-grey: rgb(172, 170, 170);
  --medium-blue: #1d2e4a;
  --light-blue: #203354;
  --lightest-blue: #305596;
}

h1,
h2,
p,
body {
  margin: 0px;
  padding: 0px;
}

p,
a {
  word-break: break-all;
  white-space: normal;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--medium-grey);
}

.header-container {
  display: flex;
  align-items: center;
  padding-left: 100px;
  width: 100%;
  height: 70px;
}

.title-row {
  display: flex;
  align-items: center;
  padding-top: 50px;
}

.cardano-logo-big {
  width: 70px;
  height: 70px;
}

.title-text {
  padding-left: 25px;
  font-size: 1.8rem;
  color: white;
}

.main-container {
  width: 80%;
  background-color: var(--medium-grey);
}

.form-container {
  width: 100%;
}

.form-container {
  margin-top: 30px;
}

.search-bar {
  font-size: 1rem;
  border: none;
  height: 70px;
  color: rgb(172, 170, 170);
  width: 100%;
  background-color: var(--darkest-blue);
  padding-left: 25px;
  padding-right: 25px;

}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: var(--light-grey);
  -webkit-box-shadow: 0 0 0px 1000px var(--darkest-blue) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.search-row {
  color: White;
  background-color: black;
  display: flex;
}

.submit-button,
.address-submit-button {
  font-size: 1rem;
  width: 125px;
  border: none;
  color: white;
  background-color: var(--lightest-blue);
  cursor: pointer;
}

/***************Address***************/

.address-body {
  background-color: var(--darkest-blue);
}

.address-row:first-child {
  display: block;
}

.home-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.cardanoScan-link,
.cardanoScan-link:visited {
  text-decoration: none;
  color: var(--lightest-blue);
}

.address-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--medium-grey);

  width: 100%;
  padding-bottom: 30px;
}

.address-header-row {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cardano-logo-small {
  width: 30px;
  height: 30px;
}

.address-header-text {
  padding-left: 20px;
  font-size: 1.2rem;
  color: white;
}

.address-search-bar {
  font-size: 0.8rem;
  border: none;
  height: 40px;
  color: rgb(172, 170, 170);
  width: 100%;
  background-color: var(--darkest-blue);
  padding-left: 25px;
  padding-right: 25px;
}

.address-form-container {
  width: 80%;
}

.address-submit-button {
  font-size: 0.8rem;
  width: 100px;
}

.address-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: white;
  background-color: var(--darkest-blue);
}

.address-section,
.error-section,
.transactions-section {
  background-color: var(--medium-grey);
  margin-top: 20px;
  padding: 30px;

}

.address {
  padding-top: 10px;
  font-size: 0.9rem;
}

.address-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.address-text {
  font-size: 0.9rem;
  font-weight: bold;
}

.address-label {
  word-break: normal;
  width: 150px;
}

.transactions-section {
  margin-bottom: 20px;
}

.transaction {
  font-size: 0.9rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.address-row,
.transaction-row {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
}

.transaction-label {
  flex-shrink: 0;
  width: 125px;
}

.hidden {
  display: none;
}

.error {
  color: rgb(255, 26, 26);
}

.error-text {
  font-size: 0.9rem;
}

.error-address-text {
  font-size: 0.9rem;
  color: var(--light-grey);
}

@media (max-width: 740px) {

  .address-header-row,
  .address-container,
  .address-form-container,
  .main-container {
    width: 90%;
  }

  .transaction-row:first-child {
    display: block;
  }
}