:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --black: black;
  --dark-grey: #17181c;
  --medium-grey: #222433;

  --darkest-blue: #1a1c2b;
  --dark-blue: #222433;

  --medium-blue: #1d2e4a;
  --light-blue: #203354;
  --lightest-blue: #305596;
}

h1,
h2,
p,
body {
  margin: 0px;
  padding: 0px;
}

p {
  word-break: break-all;
  white-space: normal;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--medium-grey);
}

.header-container {
  display: flex;
  align-items: center;
  padding-left: 100px;
  width: 100%;
  height: 70px;
}

.title-row {
  display: flex;
  align-items: center;
  padding-bottom: 25px;
}

.cardano-logo-big {
  width: 70px;
  height: 70px;
}

.title-text {
  padding-left: 25px;
  font-size: 1.8rem;
  color: white;
}

.main-container {
  width: 80%;
  background-color: var(--medium-grey);
}

.form-container,
.address-form-container {
  width: 100%;
}

.form-container {
  margin-top: 50px;
}

.search-bar {
  font-size: 1rem;
  border: none;
  height: 70px;
  color: rgb(172, 170, 170);
  width: 100%;
  background-color: var(--darkest-blue);
  padding-left: 25px;
}

.search-row {
  background-color: black;
  display: flex;
}

.submit-button,
.address-submit-button {
  font-size: 1rem;
  width: 125px;
  border: none;
  color: white;
  background-color: var(--lightest-blue);
  cursor: pointer;
}

/***************Address***************/
.address-body {
  background-color: var(--darkest-blue);
}

.address-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--medium-grey);

  width: 100%;
  padding-bottom: 30px;
}

.address-header-row {
  display: flex;
  align-items: center;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cardano-logo-small {
  width: 30px;
  height: 30px;
}

.address-header-text {
  padding-left: 20px;
  font-size: 1.2rem;
  color: white;
}

.address-search-bar {
  font-size: 0.8rem;
  border: none;
  height: 40px;
  color: rgb(172, 170, 170);
  width: 100%;
  background-color: var(--darkest-blue);
  padding-left: 25px;
}

.address-form-container {
  width: 80%;
}

.address-submit-button {
  font-size: 0.8rem;
  width: 100px;
}

.address-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: white;
  background-color: var(--darkest-blue);
}

.address-section,
.transactions-section {
  background-color: var(--medium-grey);
  margin-top: 20px;
  padding: 30px;

}

.address {
  padding-top: 10px;
  font-size: 0.9rem;
}

.address-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.address-label {
  width: 150px;
}

.subheader-text {}

.transactions-section {
  margin-bottom: 20px;
}

.transaction {
  font-size: 0.9rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.address-row,
.transaction-row {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
}

.transaction-label {

  width: 125px;
}